@using CobraLocalization.Resources
@model List<CobraWebSite.Models.MainCategory>
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = "Index";
}
<input id="mainCategory"  type="hidden" value="@string.Join(",",Model.Select(m=>m.NameAR).ToList())"/>
<!-- Home slider -->
<section class="p-0">
    <div class="slide-1 home-slider">
        <div>
            <div class="home  text-center">
                <img src="~/images/home-banner/1.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    @*<h4>
                                        Direct Wood Flooring
                                        Verona Tile - Light Grey Marble Laminate Flooring
                                    </h4>*@
                                    @*<a href="#" class="btn btn-solid">shop now</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="home text-center">
                <img src="~/images/home-banner/2.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    @*<h4>welcome to fashion</h4>*@
                                    @*<h4>Carrara White Marble Effect Polished Floor Tile</h4>*@
                                    @* <a href="#" class="btn btn-solid">shop now</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home slider end -->
<!-- Paragraph-->
<div class="title1 section-t-space">
    <h2 class="title-inner1">Egyptian Granite</h2>
</div>
@*<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="product-para">
                <p class="text-center">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </p>
            </div>
        </div>
    </div>
</div>*@
<!-- Paragraph end -->
<!-- Product slider -->
<section class="section-b-space p-t-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-granite/RedAswani.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            @*<div class="back">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-marble/فليتو-مشبح.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>*@
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-granite/BlackImperial.jpg" class="img-fluid blur-up lazyload bg-img"
                                         alt="">
                                </a>
                            </div>
                            @*<div class="back">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-marble/جلاله-فص.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>*@
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-granite/Gandola.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            @*<div class="back">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-marble/meli-grey.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>*@
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-granite/Gandolla2.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            @*<div class="back">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-marble/صني.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>*@
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-granite/halayeb.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            @*<div class="back">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-marble/زعفرانه-مسطر.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider end -->
