@using CobraLocalization.Resources
@model List<CobraWebSite.Models.MainCategory>
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = "Index";
 
   string lang = System.Globalization.CultureInfo.CurrentCulture.Name;
    
}
<input id="mainCategory" type="hidden" value="@string.Join(",",Model.Select(m=>m.NameAR).ToList())" />
<!-- Home slider -->
<section class="p-0">
    <div class="slide-1 home-slider">
        <div>
            <div class="home  text-center">
                <img src="~/images/home-banner/1.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="home text-center">
                <img src="~/images/home-banner/2.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home slider end -->
<!-- Paragraph-->
<div class="title1 section-t-space">
    <h2 class="title-inner1">Egyptian Granite</h2>
</div>
<!-- Paragraph end -->
<!-- Product slider -->
<section class="section-b-space p-t-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="product-4 product-m no-arrow">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="/@lang/ProductDetails/1">
                                    <img src="~/images/egyptian-granite/RedAswani.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h3 style="text-align:center;">Red Aswani</h3>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-granite/BlackImperial.jpg" class="img-fluid blur-up lazyload bg-img"
                                         alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h3 style="text-align:center;">Black Imperial</h3>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-granite/Gandola.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h3 style="text-align:center;">Gandola</h3>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-granite/Gandolla2.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h3 style="text-align:center;">Gandola 2</h3>
                        </div>
                    </div>
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="product-page(no-sidebar).html">
                                    <img src="~/images/egyptian-granite/halayeb.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <h3 style="text-align:center;">Gandola 2</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product slider end -->
